@using Railwind.Common.Constants
@using Railwind.Enums
@inherits Railwind.Common.RailwindBaseComponent

<div class="@WrapperClassName">
    <div class="flex">
        <div class="flex-shrink-0">
            <span class="@IconClassName"></span>
        </div>
        <div class="ml-3">
            <h3 class="@TitleTextClassName">@Title</h3>
            <div class="@MessageTextClassName">
                @if (MessageContent != null)
                {
                    @MessageContent
                }
                else
                {
                    <p>@Message</p>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Message { get; set; } = string.Empty;
    [Parameter] public RenderFragment? MessageContent { get; set; }
    [Parameter] public string Title { get; set; } = "Attention needed";
    [Parameter] public string Icon { get; set; } = Icons.INFORMATION;
    [Parameter] public AlertType AlertType { get; set; } = AlertType.Information;

    private string WrapperClassName => ClassName(css =>
    {
        css.Add("rounded-md  p-4");
        css.Add("bg-neutral-50 dark:bg-neutral-500", AlertType == AlertType.Information);
        css.Add("bg-red-50 dark:bg-red-500", AlertType == AlertType.Error);
        css.Add("bg-green-50 dark:bg-green-500", AlertType == AlertType.Success);
        css.Add("bg-amber-50 dark:bg-amber-500", AlertType == AlertType.Warning);
    });

    private string IconClassName => ClassName(css =>
    {
        css.Add("text-lg");
        css.Add("text-neutral-400", AlertType == AlertType.Information);
        css.Add("text-red-400", AlertType == AlertType.Error);
        css.Add("text-green-400", AlertType == AlertType.Success);
        css.Add("text-amber-400", AlertType == AlertType.Warning);
        css.Add(Icon);
    });

    private string TitleTextClassName => ClassName(css =>
    {
        css.Add("text-sm font-medium");
        css.Add("text-neutral-800 dark:text-white", AlertType == AlertType.Information);
        css.Add("text-red-800 dark:text-white", AlertType == AlertType.Error);
        css.Add("text-green-800 dark:text-white", AlertType == AlertType.Success);
        css.Add("text-amber-800 dark:text-white", AlertType == AlertType.Warning);
    });

    private string MessageTextClassName => ClassName(css =>
    {
        css.Add("text-sm");
        css.Add("text-neutral-700 dark:text-neutral-200", AlertType == AlertType.Information);
        css.Add("text-red-700 dark:text-neutral-200", AlertType == AlertType.Error);
        css.Add("text-green-700 dark:text-neutral-200", AlertType == AlertType.Success);
        css.Add("text-amber-700 dark:text-neutral-200", AlertType == AlertType.Warning);
    });


}