@using Railwind.Common.Extensions
@using Railwind.Features.Themes
@inherits Railwind.Common.RailwindBaseComponent

<div>
    @if (!string.IsNullOrWhiteSpace(Label) && LabelTemplate == null)
    {
        <label for="@Id" class="block text-sm font-medium leading-6 dark:text-white text-neutral-900">@Label</label>
    }
    else
    {
        @LabelTemplate
    }
    <div class="mt-2">
        <input type="@InputType"
               id="@Id"
               @oninput="HandleOnInput"
               value="@Value"
               placeholder="@Placeholder"
               disabled="@IsDisabled"
               class="@InputClassName">
    </div>
    @if (!string.IsNullOrWhiteSpace(Description))
    {
        <p class="mt-2 text-sm dark:text-white/90 text-neutral-500" id="@($"{Id}-description")">@Description</p>
    }
</div>

@code {
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }

    [Parameter] public string InputType { get; set; } = "text";
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public string Description { get; set; } = string.Empty;
    [Parameter] public string Placeholder { get; set; } = string.Empty;
    [Parameter] public bool IsDisabled { get; set; } = false;
    [Parameter] public int DebounceDelay { get; set; } = 0;
    
    [Parameter]
    public RenderFragment? LabelTemplate { get; set; }
    
    // Debounce -- This exists to be more compatible with Server hosted Blazor since otherwise latency issues occur in production
    private Timer? DebounceTimer { get; set; }

    [CascadingParameter(Name = "ValidationWrapper.IsValid")]
    public bool? IsValid { get; set; }

    private string InputClassName => ClassName(css =>
    {
        css.Add("block w-full rounded-md py-1.5 text-neutral-900 dark:text-white dark:bg-transparent shadow-sm ring-1 ring-inset placeholder:text-neutral-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6");
        css.Add("border-0 ring-neutral-300 dark:ring-white/10 ");
        css.Add(MyColor.ToRingColorWeight600());
        css.Add(MyColor.ToFocusRingColorWeight700());
    });
    
    private void HandleOnInput(ChangeEventArgs e)
    {
        if (DebounceDelay == 0)
        {
            UpdateValues(e);
            return;
        }
        
        // Stop any existing timer
        DebounceTimer?.Dispose();

        // Start a new timer
        DebounceTimer = new Timer(async _ =>
        {
            await InvokeAsync(() => UpdateValues(e)); 
        }, null, DebounceDelay, Timeout.Infinite);
    }

    private void UpdateValues(ChangeEventArgs e)
    {
        Value = e.Value?.ToString() ?? "";
        ValueChanged.InvokeAsync(Value);
    }

}